<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>我的</title>
    <!-- <link rel="stylesheet" type="text/css" href="../css/api.css"/> -->
    <!-- <link rel="stylesheet" type="text/css" href="../css/style.css"/> -->
    <link rel="stylesheet" href="../../commonUi/aui/css/aui.css">
    <style>
        .hover {
            opacity: 0.6;
        }

        .header_title {
            font-size: 18px;
            font-weight: 500;
            color: rgba(51, 51, 51, 1);
        }

        .flex_start {
            justify-content: flex-start !important;
        }
        .main_box{
            margin-top:10px;
        }
        .triange_bg:before {
            content: '';
            height: 26px;
            width: 26px;
            background: url('../../image/triangle.png') 0 0 no-repeat;
            background-size: cover;
            position: absolute;
            top: 0;
            right: 0;
        }
        .color_999{
            color:#999;
        }
        .hide{
            display: none;
        }
    </style>
</head>

<body>
    <div class="container" id="app">
        <div id="header">
            <header class="aui-bar aui-bar-nav aui-bar-light">
                <a class="aui-pull-left aui-btn" onclick="closeWin()">
                    <span class="aui-iconfont aui-icon-left"></span>
                </a>
                <div class="aui-title header_title">消息中心</div>
                <!-- <a class="aui-pull-right aui-btn">
                    <i class="aui-iconfont aui-icon-menu"></i>
                </a> -->
            </header>
            <div class="aui-tab" id="tab">

                <div class="aui-tab-item" :class="{'aui-active':currenIndex == index}" v-for="(item,index) in tabar" tapmode @click="toggleTabbar(index)">
                    <!-- <div class="aui-badge" id="Unread" v-if="index == 0"></div> -->
                    <span v-text="item"></span>
                </div>
            </div>
        </div>
    </div>
    <script src="../../script/api.js"></script>
    <script src="../../script/sha1.js"></script>
    <script src="../../script/common.js"></script>
    <script src="../../script/vue.js"></script>
    <script type="text/javascript">
        var vm = new Vue({
            el:'#app',
            data:{
                tabar:['未读','已读'],
                currenIndex:0,
                currentPage:'1',
                unreadbox:'' //未读消息列表

            },
            methods:{
                toggleTabbar:function(index){
                    this.currenIndex = index;
                    $api.setStorage('tabbarMessageType', '0');

                    if(index == 0){
                        api.sendEvent({
                            name: 'getUnReadFn',
                            extra: {
                            }
                        });

                    }else{
                        api.sendEvent({
                            name: 'getAlreadyReadFn',
                            extra: {
                            }
                        });

                    }
                },
                // init:function(){
                //     ajaxPost(
                //         true,
                //         '数据加载中...',
                //         getAllMessageNumTotalURL,
                //         {
                //             "userId": $api.getStorage('userId'),
        	    //             "enterpriseId": $api.getStorage('enterpriseId')
                //         },
                //         function(ret){
                //         }
                //     )
                // }

            }
        })
        apiready = function(){
            //侵入式导航栏
            $api.fixStatusBar( $api.dom('header') );
            // api.addEventListener({
            //     name: 'refshMessageNumber'
            // }, function(ret, err){
            //     if( ret ){
            //         // vm.init()
            //     }
            // });

            // vm.init();
            vm.toggleTabbar(0);
            var offset = $api.offset($api.byId('header'));
            api.openFrame({
                name: 'new_frame',
                url: './new_frame.html',
                rect: {
                    x: offset.l,
                    y: offset.h,
                    w: 'auto',
                    h: 'auto'
                },
                pageParam: {
                    name: 'test'
                },
                bounces: true,
                bgColor: 'rgba(0,0,0,0)',
                vScrollBarEnabled: true,
                hScrollBarEnabled: true
            });

        }
        function closeWin(){
            api.closeWin();
        }
    </script>
</body>
</html>
