<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title></title>
    <!-- <link rel="stylesheet" type="text/css" href="../css/api.css"/> -->
    <!-- <link rel="stylesheet" type="text/css" href="../css/style.css"/> -->
    <link rel="stylesheet" href="../../commonUi/aui/css/aui.css">
    <style>
        .hover {
            opacity: 0.6;
        }

        .header_title {
            font-size: 18px;
            font-weight: 500;
            color: rgba(51, 51, 51, 1);
        }

        .flex_start {
            justify-content: flex-start !important;
        }


        .triange_bg:before {
            content: '';
            height: 26px;
            width: 26px;
            background: url('../../image/triangle.png') 0 0 no-repeat;
            background-size: cover;
            position: absolute;
            top: 0;
            right: 0;
        }

        .color_999 {
            color: #999;
        }

        .noData {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .noData img {
            width: 100px;
            height: 100px;
        }
    </style>
</head>

<body>
    <div class="container" id="app">
        <div class="main_box">
            <div class="aui-card-list" v-if="messageinfo.length">
                <div class="aui-card-list-content">
                    <ul class="aui-list aui-media-list">
                        <li class="aui-list-item aui-list-item-middle" v-for="item in messageinfo" tapmode
                            @click="openSafetyDetails(item)">
                            <div class="aui-media-list-item-inner">
                                <div class="aui-list-item-media" style="width: 3rem;">
                                    <img :src="regImgFn(item)" class="aui-img-round aui-list-img-sm">
                                </div>
                                <div class="aui-list-item-inner" style="width:80%;">
                                    <div class="aui-list-item-text">
                                        <div class="aui-list-item-title aui-font-size-15 txt_color aui-ellipsis-1"
                                            v-text="item.msgTitle" style="width:80%"></div>
                                        <div class="color_999  aui-ellipsis-1" v-text="item.createTime"></div>
                                    </div>
                                    <div class="aui-list-item-text" style="color:rgba(102,102,102,1);" v-cloak>
                                        <p class="aui-ellipsis-1" style="width:200px" v-cloak>{{item.msgDetail}}</p>
                                        <span style="color:#FF1515" v-if="item.isRead == 0">new</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="noData" v-else>
                <img src="../../image/noData.png" alt="">
                <p>没有相关数据~</p>
            </div>

        </div>
    </div>
    <script src="../../script/api.js"></script>
    <script src="../../script/sha1.js"></script>
    <script src="../../script/common.js"></script>
    <script src="../../script/vue.js"></script>
    <script type="text/javascript">
        apiready = function () {
            vm.getUnReadFn(false, getUnReadMessageArrays, getAlreadyReadMessageArrays);
            api.setRefreshHeaderInfo({
                visible: true,
                loadingImg: 'widget://image/refresh.png',
                bgColor: '#ccc',
                textColor: '#fff',
                textDown: '下拉刷新...',
                textUp: '松开刷新...',
                showTime: true
            }, function (ret, err) {
                vm.getUnReadFn(false, getUnReadMessageArrays, getAlreadyReadMessageArrays);
            });
            api.addEventListener({
                name: 'getUnReadFn'
            }, function (ret, err) {
                if (ret) {
                    $api.setStorage('tabbarMessageType', '0');
                    vm.messageinfo = '';
                    vm.getUnReadFn(false, getUnReadMessageArrays, getAlreadyReadMessageArrays)
                }
            });
            api.addEventListener({
                name: 'getAlreadyReadFn'
            }, function (ret, err) {
                if (ret) {
                    vm.messageinfo = '';
                    $api.setStorage('tabbarMessageType', '1');
                    vm.getUnReadFn(false, getUnReadMessageArrays, getAlreadyReadMessageArrays)
                }
            });
            api.addEventListener({
                name: 'newCenterListFn'
            }, function (ret, err) {
                if (ret) {
                    vm.getUnReadFn()
                }
            });


            api.addEventListener({
                name: 'scrolltobottom',
                extra: {
                    threshold: 100 //设置距离底部多少距离时触发，默认值为0，数字类型
                }
            }, function (ret, err) {
                vm.getUnReadFn(true, getUnReadMessageArrays, getAlreadyReadMessageArrays)
            });

        }
        var vm = new Vue({
            el: '#app',
            data: {
                'messageinfo': [],
                currentPage: 1
            },
            methods: {
                //消息图片匹配
                regImgFn: function (item) {
                    switch (item.msgModule) {
                        case 'document': //任务
                            return '../../image/project/document.png'
                            break;
                        case 'task': //任务
                            return '../../image/project/task.png'
                            break;
                        case 'securityQ': //安全问题图标
                            return '../../image/project/safetyproblem.png'
                            break;
                        case 'qualityQ': //质量问题图标
                            return '../../image/project/quality.png'
                            break;
                        case 'notice':
                            return '../../image/enterprice/notice.png'
                            break;
                        case 'securityCheck':
                            return '../../image/enterprice/check.png'
                            break;
                        case 'commentCL':
                            return '../../image/enterprice/aq_msg.png'
                            break;
                        case 'commentSL':
                            return '../../image/enterprice/sg_msg.png'
                            break;
                        case 'workerConfirm':
                            return '../../image/temporaryWork/wrench.png'
                            break;
                        case 'workerApply':
                            return '../../image/temporaryWork/apply-img.png'
                            break;
                        case 'mechanicsApply':
                            return '../../image/temporaryWork/notarize.png'
                            break;
                        case 'mechanicsConfirm':
                            return '../../image/temporaryWork/wrench-affirm.png'
                            break;
                        default:
                            return '../../image/data/img.png'
                            break;
                    }
                },
                //查看详情
                openSafetyDetails: function (item) {
                    //更新阅读时间
                    $app.post(
                        true,
                        updateMessageReadTime,
                        {
                            "msgId": item.msgId,
                            "userId": $api.getStorage('userId')
                        },
                        function (ret) {
                            api.sendEvent({
                                name: 'enterpriceMessage',
                                extra: {
                                }
                            });

                        }
                    )
                    setTimeout(function () {
                        switch (item.msgModule) {
                            case 'document':
                                api.openWin({
                                    name: 'doc_detail',
                                    url: './document/doc_details.html',
                                    pageParam: {
                                        'doc_list_info': item
                                    }
                                });
                                break;
                            case 'task':
                                api.openWin({
                                    name: 'task',
                                    url: './task/task_detail.html',
                                    pageParam: {
                                        'task_detail_info': item
                                    }
                                });
                                break;
                            case 'securityQ':
                                api.openWin({
                                    name: 'securityproblem',
                                    url: './securityproblem/securitydetail_frame.html',
                                    pageParam: {
                                        'securitydetailinfo': item
                                    }
                                });
                                break;
                            case 'qualityQ':
                                api.openWin({
                                    name: 'qualityproblem',
                                    url: './qualityproblem/qualitydetail_frame.html',
                                    pageParam: {
                                        'qualitydetailinfo': item
                                    }
                                });
                                break;
                            case 'notice':
                                api.openWin({
                                    name: 'projectMsgDetail',
                                    url: '../../html/msg/msgDetail.html',
                                    pageParam: {
                                        notiIfo: item
                                    }
                                });
                                break;
                            case 'securityCheck':
                                api.openWin({
                                    name: 'SafetyDetails',
                                    url: './SafetyDetails.html',
                                    pageParam: {
                                        SafetyDetailsInfo: item
                                    }
                                });
                                break;
                            case 'constractionLog':
                            case 'commentCL'://施工日志详情
                                var params = {
                                    logs: [{ logId: item.objectId }]
                                }
                                api.openWin({
                                    name: 'construcMsgDetail',
                                    url: './constructionlog/logdetail.html',
                                    pageParam: {
                                        currentLoginfo: params
                                    }
                                });
                                break;
                            case 'securityLog':
                            case 'commentSL'://安全日志详情
                                var params = {
                                    logs: [{ logId: item.objectId }]
                                }
                                api.openWin({
                                    name: 'securMsgDetail',
                                    url: './securitylog/logdetail.html',
                                    pageParam: {
                                        currentLoginfo: params
                                    }
                                });
                                break;
                            case 'workerApply'://用工事前申请
                                api.openWin({
                                    name: 'temporary_edit',
                                    url: './temporaryWork/temporary/temporary_edit.html',
                                    pageParam: {
                                        applyId: item.objectId
                                    }
                                });
                                break;
                            case 'workerConfirm'://用工使用确认
                                api.openWin({
                                    name: 'temporary_affirm_edit',
                                    url: './temporaryWork/temporary-affirm/temporary_affirm_edit.html',
                                    pageParam: {
                                        confirmId: item.objectId
                                    }
                                });
                                break;
                            case 'mechanicsApply'://机械事前申请
                                api.openWin({
                                    name: 'appliance_edit',
                                    url: './temporaryWork/appliance/appliance_edit.html',
                                    pageParam: {
                                        applyId: item.objectId
                                    }
                                });
                                break;
                            case 'mechanicsConfirm'://机械使用确认
                                api.openWin({
                                    name: 'appliance_affirm_edit',
                                    url: './temporaryWork/appliance-affirm/appliance_affirm_edit.html',
                                    pageParam: {
                                        confirmId: item.objectId
                                    }
                                });
                                break;
                            default:

                        }

                    }, 500)
                },
                //未读信息列表
                getUnReadFn: function (loadMore, urla, urlb) {
                    if ($api.getStorage('tabbarMessageType') == '0') {
                        var url = getUnReadMessageArrays
                    } else {
                        var url = getAlreadyReadMessageArrays
                    }
                    vm.reshAjax(loadMore, url)
                },
                //上拉刷新下来架加载
                reshAjax: function (loadMore, url) {
                    if (loadMore) {
                        this.currentPage++;
                    } else {
                        this.currentPage = 1
                    }
                    ajaxPost(
                        true,
                        '加载中...',
                        url, {
                        userId: $api.getStorage('userId'),
                        projectId: $api.getStorage('enterpriseId'),
                        showCount: PAGE_NUMBER,
                        currentPage: vm.currentPage
                    },
                        function (ret) {
                            console.log($api.jsonToStr(ret));
                            api.refreshHeaderLoadDone();
                            var filterModule = ['securityCheck', 'notice', 'commentCL', 'commentSL', 'qualityQ', 'securityQ', 'securityLog', 'constractionLog', 'task', 'document', 'workerApply', 'workerConfirm', 'mechanicsApply', 'mechanicsConfirm'];//消息类型
                            if (loadMore) {

                                if (ret.totalResult > vm.messageinfo.length) {

                                    if (ret.obj) {
                                        var filterData = ret.obj.filter(function (item) {
                                            if (filterModule.indexOf(item.msgModule) != -1) {
                                                return item
                                            }
                                        })
                                        filterData.forEach(function (item) {
                                            vm.messageinfo.push(item)
                                        })
                                    }
                                } else {
                                    api.toast({
                                        msg: '没有更多数据了...',
                                        duration: 2000,
                                        location: 'bottom'
                                    });
                                }
                            } else {
                                // vm.messageinfo = ret.obj;
                                if (ret.obj) {
                                    var filterData = ret.obj.filter(function (item) {
                                        if (filterModule.indexOf(item.msgModule) != -1) {
                                            return item
                                        }
                                    })
                                    vm.messageinfo = filterData;
                                }
                            }
                        }
                    )
                }
            }
        })
    </script>
</body>

</html>