<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../commonUi/aui/css/aui.css">
    <style>
        .txt_cl_FF1515 {
            color: #FF1515 !important;
        }

        .txt_position {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>
</head>

<body>
    <div class="aui-content aui-margin-b-15" style="margin-top:10px;" id="app">
        <ul class="aui-list aui-media-list">
            <li class="aui-list-item aui-list-item-middle" @click="openNew(getAllMessageNumTotal)" tapmode>
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media" style="width: 3rem;">
                        <img src="../../image/enterprice/new.png" class="aui-img-round aui-list-img-sm">
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="">
                            <h3>消息</h3>
                            <div class="aui-badge" style="top: 15px;right: 40px;left:auto"
                                v-if="getAllMessageNumTotal.unReadMsgTotal"
                                v-text="getAllMessageNumTotal.unReadMsgTotal"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="aui-list-item aui-list-item-middle" v-for="item in messageinfo" @click="openSafetyDetails(item)"
                tapmode>
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media" style="width: 3rem;">
                        <img :src="regImgFn(item)">
                    </div>
                    <div class="aui-list-item-inner aui-list-item-arrow">
                        <div class="aui-list-item-text" v-cloak>
                            <div class="aui-list-item-title aui-font-size-14" v-cloak>{{item.msgTitle}}</div>
                            <div class="aui-list-item-right  aui-ellipsis-1" v-cloak>{{item.createTime}}</div>
                        </div>
                        <div class="aui-list-item-text" v-cloak>
                            <div class="aui-ellipsis-1" style="width:200px" v-cloak>{{item.msgDetail}}</div>
                            <div class="aui-list-item-right txt_cl_FF1515" v-cloak>
                                <!-- <div class="aui-badge">8</div> -->
                                <span v-if="item.isRead == 0">new</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <script src="../../script/api.js"></script>
    <script src="../../script/sha1.js"></script>
    <script src="../../script/common.js"></script>
    <script src="../../script/vue.js"></script>
    <script src="../../script/permission.js"></script>
    <script type="text/javascript">
        apiready = function () {
            confirmPer('camera,photos,phone', function () { })
            api.addEventListener({
                name: 'currenProject'
            }, function (ret, err) {
                if (ret) {
                    vm.getTotalNumber();
                    vm.init(false)
                }
            });
            api.addEventListener({
                name: 'projectInit0'
            }, function (ret, err) {
                if (ret) {
                    vm.getTotalNumber();
                    vm.init(false)
                }
            });


            vm.getTotalNumber()
            vm.init(false)
            api.setRefreshHeaderInfo({
                visible: true,
                loadingImg: 'widget://image/refresh.png',
                bgColor: '#ccc',
                textColor: '#fff',
                textDown: '下拉刷新...',
                textUp: '松开刷新...',
                showTime: true
            }, function (ret, err) {
                vm.init(false);
                vm.getTotalNumber();
                api.sendEvent({
                    name: 'projectIndex',
                    extra: {
                    }
                });




            });
            api.addEventListener({
                name: 'scrolltobottom',
                extra: {
                    threshold: 0 //设置距离底部多少距离时触发，默认值为0，数字类型
                }
            }, function (ret, err) {
                vm.init(true)
            });
            //监听消息列表计数
            api.addEventListener({
                name: 'enterpriceMessage'
            }, function (ret, err) {
                vm.getTotalNumber();
            });
            // //监听首页状态
            // api.addEventListener({
            //     name: 'indexMsgList'
            // }, function(ret, err){
            //     if( ret ){
            //         vm.updateFn(vm.msgListItem);
            //     }
            // });
            //监听首页消息状态列表
            api.addEventListener({
                name: 'enterpriseIndexList'
            }, function (ret, err) {
                vm.init();
                vm.getTotalNumber();
            });





        }

        var vm = new Vue({
            el: '#app',
            data: {
                messageinfo: [],
                currentPage: '1',
                getAllMessageNumTotal: '',//获取数据条数
                msgListItem: '',//首页传入当前项
            },
            methods: {
                init: function (loadMore) {
                    if (loadMore) {
                        this.currentPage++;
                    } else {
                        this.currentPage = 1
                    }
                    $app.post(
                        true,
                        projectGetTodoMessageArrays, {
                        userId: $api.getStorage('userId'),
                        projectId: $api.getStorage('enterpriseId'),
                        showCount: PAGE_NUMBER,
                        currentPage: vm.currentPage
                    },
                        function (ret) {
                            console.log($api.jsonToStr(ret));
                            api.refreshHeaderLoadDone();
                            var filterModule = ['securityCheck', 'notice', 'commentCL', 'commentSL', 'qualityQ', 'securityQ', 'securityLog', 'constractionLog', 'task', 'document', 'workerApply', 'workerConfirm', 'mechanicsApply', 'mechanicsConfirm'];
                            if (loadMore) {
                                if (ret.totalResult > vm.messageinfo.length) {

                                    if (ret.obj) {
                                        var filterData = ret.obj.filter(function (item) {
                                            if (filterModule.indexOf(item.msgModule) != -1) {
                                                return item
                                            }
                                        })
                                        filterData.forEach(function (item) {
                                            vm.messageinfo.push(item)
                                        })
                                    }
                                } else {
                                    api.toast({
                                        msg: '没有更多数据了...',
                                        duration: 2000,
                                        location: 'bottom'
                                    });

                                }
                            } else {
                                if (ret.obj) {
                                    var filterData = ret.obj.filter(function (item) {
                                        if (filterModule.indexOf(item.msgModule) != -1) {
                                            return item
                                        }
                                    })
                                    vm.messageinfo = filterData;
                                }
                                // vm.messageinfo = ret.obj;
                            }
                        }
                    )
                },
                //改修阅读时间
                updateFn: function (msgItem) {
                    ajaxPost(
                        true,
                        '加载中',
                        updateMessageReadTime, {
                        "msgId": msgItem.msgId,
                        "userId": $api.getStorage('userId')
                    },
                        function (ret) {
                        }
                    )
                },
                //消息图片匹配
                regImgFn: function (item) {
                    switch (item.msgModule) {
                        case 'document': //任务
                            return '../../image/project/document.png'
                            break;
                        case 'task': //任务
                            return '../../image/project/task.png'
                            break;
                        case 'securityQ': //安全问题图标
                            return '../../image/project/safetyproblem.png'
                            break;
                        case 'qualityQ': //质量问题图标
                            return '../../image/project/quality.png'
                            break;
                        case 'notice':
                            return '../../image/enterprice/notice.png'
                            break;
                        case 'securityCheck':
                            return '../../image/enterprice/check.png'
                            break;
                        case 'commentCL':
                            return '../../image/enterprice/aq_msg.png'
                            break;
                        case 'workerConfirm':
                            return '../../image/temporaryWork/wrench.png'
                            break;
                        case 'workerApply':
                            return '../../image/temporaryWork/apply-img.png'
                            break;
                        case 'mechanicsApply':
                            return '../../image/temporaryWork/notarize.png'
                            break;
                        case 'mechanicsConfirm':
                            return '../../image/temporaryWork/wrench-affirm.png'
                            break;
                        default:
                            return '../../image/data/img.png'
                            break;

                    }
                },
                //查看安全详情
                openSafetyDetails: function (item) {
                    vm.msgListItem = item;
                    vm.updateFn(item);
                    //根据相应的标识跳转不同详情页
                    setTimeout(function () {
                        console.log("111111111111111:" + JSON.stringify(item.msgModule));
                        switch (item.msgModule) {
                            case 'task':
                                api.openWin({
                                    name: 'task',
                                    url: './task/task_detail.html',
                                    pageParam: {
                                        'task_detail_info': item
                                    }
                                });
                                break;
                            case 'securityQ':
                                api.openWin({
                                    name: 'securityproblem',
                                    url: './securityproblem/securitydetail_frame.html',
                                    pageParam: {
                                        'securitydetailinfo': item
                                    }
                                });
                                break;
                            case 'qualityQ':
                                api.openWin({
                                    name: 'qualityproblem',
                                    url: './qualityproblem/qualitydetail_frame.html',
                                    pageParam: {
                                        'qualitydetailinfo': item
                                    }
                                });
                                break;
                            case 'notice':
                                api.openWin({
                                    name: 'projectMsgDetail',
                                    url: '../../html/msg/msgDetail.html',
                                    pageParam: {
                                        notiIfo: item
                                    }
                                });
                                break;
                            case 'securityCheck':
                                api.openWin({
                                    name: 'SafetyDetails',
                                    url: './SafetyDetails.html',
                                    pageParam: {
                                        SafetyDetailsInfo: item
                                    }
                                });
                                break;
                            case 'commentCL'://施工日志详情
                                var params = {
                                    logs: [{ logId: item.objectId }]
                                }
                                api.openWin({
                                    name: 'construcMsgDetail',
                                    url: './constructionlog/logdetail.html',
                                    pageParam: {
                                        currentLoginfo: params
                                    }
                                });
                                break;
                            case 'commentSL'://安全日志详情
                                var params = {
                                    logs: [{ logId: item.objectId }]
                                }
                                api.openWin({
                                    name: 'securMsgDetail',
                                    url: './securitylog/logdetail.html',
                                    pageParam: {
                                        currentLoginfo: params
                                    }
                                });
                                break;
                            case 'workerApply'://用工事前申请
                                api.openWin({
                                    name: 'temporary_edit',
                                    url: './temporaryWork/temporary/temporary_edit.html',
                                    pageParam: {
                                        applyId: item.objectId
                                    }
                                });
                                break;
                            case 'workerConfirm'://用工使用确认
                                api.openWin({
                                    name: 'temporary_affirm_edit',
                                    url: './temporaryWork/temporary-affirm/temporary_affirm_edit.html',
                                    pageParam: {
                                        confirmId: item.objectId
                                    }
                                });
                                break;
                            case 'mechanicsApply'://机械事前申请
                                api.openWin({
                                    name: 'appliance_edit',
                                    url: './temporaryWork/appliance/appliance_edit.html',
                                    pageParam: {
                                        applyId: item.objectId
                                    }
                                });
                                break;
                            case 'mechanicsConfirm'://机械使用确认
                                api.openWin({
                                    name: 'appliance_affirm_edit',
                                    url: './temporaryWork/appliance-affirm/appliance_affirm_edit.html',
                                    pageParam: {
                                        confirmId: item.objectId
                                    }
                                });
                                break;
                            default:

                        }
                    }, 500)

                },

                //获取消息条数
                getTotalNumber: function () {
                    //获取消息条数
                    ajaxPost(
                        true,
                        '加载中...',
                        getAllMessageNumTotal, {
                        userId: $api.getStorage('userId'),
                        projectId: $api.getStorage('enterpriseId')
                    },
                        function (ret) {
                            vm.getAllMessageNumTotal = ret.obj
                        }
                    )
                },
                openNew: function (getAllMessageNumTotal) {
                    api.openWin({
                        name: 'new',
                        url: './new.html',
                        pageParam: {
                            newInfo: getAllMessageNumTotal
                        }
                    });

                }
            }
        })
    </script>
</body>

</html>