<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title></title>

    <link rel="stylesheet" href="../../../commonUi/aui/css/aui.css">
    <link rel="stylesheet" href="../../../css/calendar.css">
    <link rel="stylesheet" href="../../../commonUi/H5TimeSelector/libs/iosselect.css">
    <link rel="stylesheet" type="text/css" href="../../../css/addlog.css" />
    <link rel="stylesheet" href="../../../css/voice.css">
    <style>
        html,body{height:100%}
        .container {
            background-color: rgba(245, 245, 245, 1);

        }

        .imgIcon {
            display: inline-block;
            width: 30px;
            height: 30px;
            background-image: url('../../../image/bsise.png');
            background-size: cover;
        }

        .requid {
            color: #EC4031;
        }

        .textarea {
            height: 145px;
            line-height: 25px;
            font-size: 15px;
            padding: 10px;
            font-weight: 400;
            color: rgba(199, 199, 204, 1);
        }

        .textarea textarea {
            height: 95px;
            overflow-y: auto;
        }

        .list_title {
            font-size: 15px;
            font-weight: 400;
            color: rgba(51, 51, 51, 1);
            height: 30px;
            line-height: 30px;
            background-color: #fff;
        }

        .aui-list-item {
            background-color: #fff;
            position: relative;
        }

        .clickShow {
            font-size: 13px;
            font-family: PingFangSC-Semibold, PingFang SC;
            font-weight: 600;
            color: rgba(5, 143, 253, 1);
            line-height: 13px;
            text-align: center;
            margin-top: 20px;
        }
        /*.mian_item{margin: 10px 0}*/

        .mian_item .inputCls {
            margin-left: 35px;
            height: 35px;
        }


        .mt_10 {
            margin-top: 10px;
        }

        .mb_25 {
            padding-bottom: 25px;
        }

        .color_f5 {
            background-color: #f5f5f5;
        }

        .i_wd {
            color: #8F929A;
        }
        .bg_trsn{background-color: transparent}

        .active {
            background-color: rgba(5, 143, 253, 1) !important;
        }
        .mian_item .inputPosition{padding-right: 10px}
        .last-txt{
            font-size:11px;
            font-family:PingFangSC-Regular,PingFang SC;
            font-weight:400;
            color:rgba(185,185,185,1);
            /*height:30px;
            line-height: 30px;*/
            padding: 8px 10px;
        }
        .btnActive{
            background-color: rgba(5, 143, 253, 1) !important;
        }
        .title{padding:0 10px}
        .msg{display: flex;justify-content: space-between;align-items: center;border-bottom: 1px solid #f5f5f5;margin-bottom: 10px;height: 45px}
        .title h2{
            font-size: 16px;
            color: #323233;
            font-weight: 400;

        }
        .title textarea{
            font-size: 14px;
            color: #7E7E80;
        }
        .color_fs{font-size: 30px;background-color: #f5f5f5}
    </style>
</head>

<body>
    <div class="container" id="app">
        <div class="main_box ">
            <div class="title">
                <div class="msg" tapmode @click="openurgencyDegree()">
                    <h2 >公文类型</h2>
                    <p v-cloak>{{type?type: '请选择' }}<i class="aui-iconfont aui-icon-right"></i></p>
                </div>
                <textarea name="name" rows="8" v-model="detail" placeholder="请输入正文" cols="80"></textarea>
            </div>

            <ul class="bg_trsn">

                <li class="mian_item border_bottom_after" tapmode  @click="sendObj()">
                    <p>发送对象</p>
                    <p ><span v-text="totalPerson ? totalPerson : '请选择'"></span> <i class="aui-iconfont aui-icon-right"></i></p>
                </li>

            </ul>
            <div class="imgUpdate "  style="padding:10px 15px;">
                <div class="imgItem" v-for="(item,index) in imgSrc" tapmode="hover">
                    <i class="aui-iconfont aui-icon-close del_close" v-if="isCloseBtn" @click=removeImage(index) tapmode="hover"></i>
                    <img :src="item" alt="" tapmode @click="imgSee(imgSrc,index)">
                </div>
                <div @click="uploadHeadPic()" tapmode v-if="imgSrc.length < 3"> <i class="aui-iconfont aui-icon-camera color_fs"></i></div>
            </div>
            <div class="" style="background-color:#f5f5f5;">
                <div style="margin-top:50px;" class="cancelBtn" :class="{'btnActive':isSubmitActive}" tapmode="hover" @click="submitFn()">发布</div>
            </div>
        </div>

    </div>

    <script src="../../../script/api.js"></script>
    <script src="../../../script/sha1.js"></script>
    <script src="../../../script/common.js"></script>
    <script src="../../../script/vue.js"></script>
    <script src="../../../script/lunarcalendar.js"></script>
    <script src="../../../script/permission.js"></script>
    <script type="text/javascript" src="../../../commonUi/H5TimeSelector/libs/iosselect.js"></script>
    <script type="text/javascript" src="../../../commonUi/H5TimeSelector/timeselector.js"></script>
    <!-- <script src="../../../script/commonJS/voiceinput.js"></script> -->
    <script>
        // var vm;
        apiready = function() {
            var UIAlbumBrowser = api.require('UIAlbumBrowser');
            //监听对象事件
            api.addEventListener({
                name: 'document_obj_event'
            }, function(ret, err){
                if( ret ){
                    vm.reciveUserbox = ret.value.personliableinfo;
                    var txt = $api.strToJson(ret.value.personliableinfo);
                    // console.log(ret.value.personliableinfo);
                    var name_join = '';
                    var id_join = '';
                    vm.totalPerson = 0;
                    txt.forEach(function(items){
                        items.children.forEach(function(item,i){
                            if(item.checked){
                                name_join += item.name + ',';
                                id_join += item.userId + ',';
                                vm.totalPerson++;
                            }
                        })

                    })
                    vm.totalPerson = name_join.substr(0,7) + '   等'+ vm.totalPerson + '人';
                    vm.reciveUserName = name_join.substr(0,name_join.length-1);
                    vm.reciveUserId = id_join.substr(0,id_join.length-1);
                }else{
                     alert( JSON.stringify( err ) );
                }
            });




            var vm = new Vue({
                el: '#app',
                data: {
                    "totalPerson":0,// 人员个数
                    "isCloseBtn":true,//是否显示删除图片icon
                    "imgSrc":[],
                    "reciveUserbox":'',//发送对象集合
                    "serverImg":'',//服务器返回图片地址
                    "typeBox":[],//公文类型列表

                    "detail":'',//正文
                    "type":'',//公文类型
                    "reciveUserId":'',//对象id
                    "reciveUserName":'',//对象名

                    "srcImgUrl":'',//原图片地址（多张逗号分隔）
                    "compressImgUrl":''//压缩图片地址（多张逗号分隔）

                },
                watch: {

                },
                computed: {

                    // 控制提交按钮状态
                    isSubmitActive: function() {
                        if(this.type && this.detail && this.reciveUserName){
                            return true;
                        }
                    }

                },

                created: function() {
                    this.getlistType()

                },
                methods: {
                    //获取公文列表类型
                    getlistType:function(){
                        var _this = this;
                        $app.post(
                            false,
                            documentgetAllType,
                            {
                                userId:$api.getStorage('userId')
                            },
                            function(ret){
                                // console.log($api.jsonToStr(ret));
                                _this.typeBox = ret.obj.map(function(item){
                                    return item.type;
                                });
                                console.log($api.jsonToStr(_this.typeBox));
                            }
                        )
                    },
                    //选择公文类型
                    openurgencyDegree:function(){
                        var data = this.typeBox ;
                        api.actionSheet({
                            title: '公文类型',
                            cancelTitle: '取消',
                            buttons: data
                        }, function(ret, err){
                            if( ret ){
                                console.log(ret.buttonIndex);
                                vm.type = data[ret.buttonIndex-1];


                            }else{
                                 alert( JSON.stringify( err ) );
                            }
                        });

                    },
                    //打开参与人
                    sendObj:function(){
                        api.openWin({
                            name: 'document_obj',
                            url: './document_obj.html',
                            pageParam: {
                                "defalutcheck":vm.reciveUserbox
                            }
                        });

                    },


                    // //图片查看
                    imgSee: function(url, index) {
                        var photoBrowser = api.require('photoBrowser');
                        photoBrowser.open({
                            images: url,
                            activeIndex: index,
                            // placeholderImg: 'widget://res/img/apicloud.png',
                            bgColor: '#000'
                        }, function(ret, err) {
                            if (ret) {
                                if (ret.eventType === 'click') {
                                    photoBrowser.close();
                                }
                            } else {}
                        });
                    },


                    //删除图片
                    removeImage: function(index) {
                        this.imgSrc.splice(index, 1)
                    },
                    //图片处理
                    imgFilter: function(fncFN) {
                        if (vm.serverImg) {
                            var src_join = this.serverImg.map(function(item) {
                                return item.srcPath
                            })
                            var compress_join = this.serverImg.map(function(item) {
                                return item.compressPath
                            })
                            vm.srcImgUrl = src_join.join(',');
                            vm.compressImgUrl = compress_join.join(',');
                            fncFN()
                        }
                    },
                    //图片上传服务器保存
                    saveImg: function(fncFN) {
                        var compressImg = [];
                        if (vm.imgSrc.length) {
                            var imageFilter = api.require('imageFilter');
                            for (var i = 0; i < vm.imgSrc.length; i++) {
                                (function(index) {
                                    var imageName = randomWord(false, 9, 12);
                                    var imageCachePath = api.cacheDir;
                                    imageFilter.compress({
                                        img: vm.imgSrc[index],
                                        quality: 0.3,
                                        save: {
                                            // album: true, //(可选项)布尔值，是否保存到系统相册，默认false
                                            imgPath: imageCachePath,
                                            imgName: imageName + '.jpg'
                                        }
                                    }, function(ret, err) {
                                        if (ret) {
                                            var txt = imageCachePath + '/' + imageName + '.jpg';
                                            compressImg.push(txt)
                                        } else {

                                        }
                                    });
                                })(i);
                            }
                            api.showProgress({
                                style: 'default',
                                animationType: 'fade',
                                title: '新增中...',
                                text: '先喝杯茶...',
                                modal: true
                            });

                            var timer = setInterval(function() {
                                if (compressImg.length == vm.imgSrc.length) {
                                    clearInterval(timer)
                                    ajaxFile(
                                        false,
                                        '图片上传中...',
                                        uplodeEnterpriseFileURL, {
                                            enterpriseId: $api.getStorage('enterpriseId')
                                        }, {
                                            imgFile: compressImg
                                        },
                                        function(ret) {
                                            vm.isCloseBtn = false;
                                            var data = ret.obj;
                                            vm.serverImg = data;
                                            vm.imgFilter(fncFN)

                                        }
                                    )
                                }
                            }, 1000)

                        } else {
                            fncFN()
                        }
                    },

                    // // 图片选择
                    uploadHeadPic: function() {
                        confirmPer('camera,photos', function() {})
                        var i = 0;
                        var imgarr = [];
                        UIAlbumBrowser_imagePicker();
                        //打开图片选择器
                        function UIAlbumBrowser_imagePicker() {
                            UIAlbumBrowser.imagePicker({
                                max: 3 - vm.imgSrc.length,
                                styles: {
                                    bg: '#000000',
                                    //cameraImg: 'widget://res/cameraImg.png',
                                    mark: {
                                        position: 'top_right',
                                        size: 20
                                    },
                                    nav: {
                                        bg: '#000000',
                                        cancelColor: '#fff',
                                        cancelSize: 16,
                                        nextStepColor: '#7fff00',
                                        nextStepSize: 16
                                    },
                                    thumbnail: { //（可选项）返回的缩略图配置，**建议本图片不要设置过大** 若已有缩略图，则使用已有的缩略图。若要重新生成缩略图，可先调用清除缓存接口api.clearCache()。
                                        w: 52, //（可选项）数字类型；返回的缩略图的宽；默认：原图的宽度
                                        h: 52 //（可选项）数字类型；返回的缩略图的宽；默认：原图的高度
                                    }
                                },
                                animation: true,
                            }, function(ret) {
                                if (ret.eventType == 'nextStep') {
                                    if (ret.list && ret.list.length > 0) {
                                        imgarr = ret.list;
                                        UIAlbumBrowser_transPath();
                                    }
                                    UIAlbumBrowser.closePicker();
                                }
                                if (ret.originalPath && ret.originalPath.length > 0) {
                                    vm.imgSrc.push(ret.originalPath)
                                }
                            });
                        }

                        function UIAlbumBrowser_transPath() {
                            UIAlbumBrowser.transPath({
                                path: imgarr[i].path
                            }, function(ret, err) {
                                if (ret) {
                                    i++;
                                    if (i < imgarr.length) {
                                        UIAlbumBrowser_transPath();
                                    } else {
                                        i = 0;
                                    }
                                    vm.imgSrc.push(ret.path)
                                } else {
                                }
                            });
                        }
                    },
                    submitFn: function() {
                        if (!this.type || !this.detail || !this.reciveUserName) {

                            api.toast({
                                msg: "带 '*' 为必填项",
                                duration: 2000,
                                location: 'bottom'
                            });
                            return false;

                        }
                        var _this = this;
                        api.confirm({
                            title: '提示',
                            msg: '公文一旦发送之后不能撤销，您是否已确认无误并发送?',
                            buttons: ['确定', '取消']
                        }, function(ret, err){
                            if( ret ){
                                if(ret.buttonIndex == 1){
                                    function fnc(){

                                        var params = {
                                                "userId": $api.getStorage('userId'),
                                                "type": _this.type,
                                                "detail":_this.detail,
                                                "pictureUrl": [
                                                    {"srcPath": _this.srcImgUrl,
                                                    "compressPath": _this.compressImgUrl}
                                                ],
                                                "reciveUserIds":_this.reciveUserId,
                                            "projectId": $api.getStorage('enterpriseId')
                                        }
                                        console.log($api.jsonToStr(params));
                                        $app.post(
                                            false,
                                            documentinsertNew,
                                            params,
                                            function(ret){
                                                api.hideProgress();

                                                api.toast({
                                                    msg: ret.msg,
                                                    duration: 2000,
                                                    location: 'bottom'
                                                });
                                                //公文列表刷新
                                                api.sendEvent({
                                                    name: 'refsh_document_list_event',
                                                    extra: {
                                                    }
                                                });
                                                //首页列表刷新
                                                api.sendEvent({
                                                    name: 'enterpriseIndexList',
                                                    extra: {
                                                    }
                                                });


                                                setTimeout(function(){
                                                    api.closeWin();
                                                },100)

                                            }
                                        )
                                    }
                                    _this.saveImg(fnc)
                                }
                            }else{
                                 alert( JSON.stringify( err ) );
                            }
                        });

                    },

                }
            })
            //

        };

    </script>
</body>

</html>
